{% extends 'asset/layout.html' %}

{% load i18n %}

{% block title %} : {% trans 'Forgot Password' %}{% endblock %}

{% block content %}

    <form action="{% url 'password_reset' %}" method="post" novalidate>

        {% csrf_token %}

        <div class="card border-dark col-lg-4 m-auto">
            <div class="card-body">
                <div class="p-2">
                    {% blocktrans %}Forgotten your password? Enter your email address below, and we’ll email
                        instructions for setting a new one.{% endblocktrans %}
                </div>

                <div class="p-2">
                    {% include 'form/input.html' with input=form.email is_required=True %}

                    <button type="submit" class="btn btn-outline-secondary">
                        {% trans 'Request Password Reset' %}
                    </button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}