{% extends 'asset/layout.html' %}

{% load i18n %}

{% block title %} : {% trans 'Password Reset Instructions' %}{% endblock %}

{% block content %}

    <div class="card border-dark col-lg-4 m-auto">
        <div class="card-body">
            <div class="p-2">
                {% blocktrans %}We've emailed you instructions for setting your password, if an account exists with the
                    email you entered. You should receive them shortly.{% endblocktrans %}
            </div>

            <div class="p-2">
                {% blocktrans %}If you don't receive an email, please make sure you’ve entered the address you
                    registered with, and check your spam folder.{% endblocktrans %}
            </div>
        </div>
    </div>

{% endblock %}