{% extends 'asset/layout.html' %}

{% load i18n %}

{% block title %} : {% trans 'Confirm Password Reset' %}{% endblock %}

{% block content %}

    {% if validlink %}
        <form method="post" novalidate>

            {% csrf_token %}

            <div class="card border-dark col-lg-4 m-auto">
                <div class="card-body">
                    <div class="p-2">
                        {% blocktrans %}Please enter your new password twice so we can verify you typed it in
                            correctly.{% endblocktrans %}
                    </div>

                    <div class="p-2">
                        {% include 'form/password.html' with password=form.new_password1 is_required=True %}
                        {% include 'form/password.html' with password=form.new_password2 is_required=True %}

                        <button type="submit" class="btn btn-outline-secondary">
                            {% trans 'Update' %}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    {% else %}
        <div class="card border-dark col-lg-4 m-auto">
            <div class="card-body">
                <div class="p-2">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.{% endblocktrans %}
                </div>

                <div class="p-2">
                    <a class="btn btn-outline-secondary" href="{% url 'password_reset' %}"
                       role="button">{% trans 'Request Password Reset' %}</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}