{% extends 'asset/layout.html' %}

{% load blog_page_span %}

{% load compress %}

{% load i18n %}

{% load static %}

{% load template_isdefined %}

{% block js %}
    {% compress js %}
        <script src="{% static 'form/js/modal.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block meta_description %}{{ object.name|escape }}{% endblock %}

{% block meta_keyword %}{{ object.keyword|escape }}{% endblock %}

{% block title %} : {% trans 'Featured Blog' %} : {{ object.name|escape }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- Start Left Side -->
            <div class="col-md-8">
                <div class="d-flex justify-content-center">
                    <h2 class="font-weight-bold">{{ object.name|escape }}</h2>
                </div>

                <div class="d-flex justify-content-center text-muted font-italic">
                    {% trans 'Posted on' %} {{ object.date_from|date:"Y-m-d H:i:s" }}
                </div>

                {% if object.video_url|template_isdefined %}
                    <hr class="w-50 bg-dark">

                    <div class="d-flex justify-content-center">
                        <div class="embed-responsive embed-responsive-16by9 w-75">
                            <iframe class="embed-responsive-item" src="{{ object.video_url|escape }}"></iframe>
                        </div>
                    </div>
                {% endif %}

                <hr class="w-50 bg-dark">

                <div class="row justify-content-center">
                    <div class="col-10">{{ object.entry|safe }}</div>
                </div>

                <!-- Start Previous/Next Article Buttons -->
                <div class="row justify-content-center mt-3">
                    <div class="col-5 text-left">
                        {% blog_previous object as previous %}

                        {% if previous|template_isdefined %}
                            <a href="{% url 'blog:read' previous.slug|urlencode %}"
                               class="btn btn-outline-secondary">&laquo; {% trans 'Previous Article' %}</a>
                        {% endif %}
                    </div>

                    <div class="col-5 text-right">
                        {% blog_next object as next %}

                        {% if next|template_isdefined %}
                            <a href="{% url 'blog:read' next.slug|urlencode %}"
                               class="btn btn-outline-secondary">{% trans 'Next Article' %} &raquo;</a>
                        {% endif %}
                    </div>
                </div>
                <!-- End Previous/Next Article Buttons -->

                <!-- Start Tags -->
                <div class="d-flex flex-row justify-content-center mt-3">
                    <div class="p-2 mt-2 font-weight-bold">{% trans 'Tags' %}:</div>

                    {% for item in object.keywords %}
                        <div class="p-2">
                            <a class="nav-link bg-danger text-white rounded-pill"
                               href="{% url 'blog:search' keyword=item|urlencode %}">{{ item|escape }}</a>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Tags -->

                <!-- Start Comments -->
                {% include 'comment/comments.html' %}
                <!-- End Comments -->
            </div>
            <!-- End Left Side -->

            <!-- Start Right Side -->
            {% include 'blog/right_side.html' %}
            <!-- End Right Side -->
        </div>
    </div>

    {% include 'comment/comment_modal.html' with object=object %}

{% endblock %}
