{% extends 'member/layout.html' %}

{% load compress %}

{% load i18n %}

{% load static %}

{% block breadcrumbs %}
    {% include 'login/breadcrumbs.html' %}
{% endblock %}

{% block js %}
    {% if not perms.login.change_password %}
        {% compress js %}
            <script src="{% static 'form/js/disableForm.js' %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block title %} : {% trans 'Members Area' %} : {% trans 'Change Password' %}{% endblock %}

{% block content %}

    <form action="{% url 'login:password' %}" method="post" novalidate>

        {% csrf_token %}

        <div class="card border-dark">
            <div class="card-body">
                <div class="p-2">
                    <h6 class="font-weight-bold">{% trans 'Email Address' %}</h6>
                    {{ user.email|escape }}
                </div>

                <div class="p-2">
                    {% include 'form/password.html' with password=form.old_password is_required=True %}
                    {% include 'form/password.html' with password=form.new_password1 is_required=True %}
                    {% include 'form/password.html' with password=form.new_password2 is_required=True %}

                    {% if perms.login.change_password %}
                        <button type="submit" class="btn btn-outline-secondary">
                            {% trans 'Update' %}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

    </form>

{% endblock content %}
