{% load i18n %}

{% load widget_tweaks %}

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark border-0 rounded-0">
                <h5 class="modal-title text-white" id="searchModalLabel">{% trans 'Search' %}</h5>

                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field|add_label_class:'font-weight-bold'|cut:":" }}

                        {% render_field field class="form-control" placeholder=field.label %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-info mr-auto">{% trans 'Search' %}</button>

                <button type="button" class="btn btn-outline-secondary"
                        id="search_modal_clear">{% trans 'Clear Search' %}</button>

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>