{% extends 'member/layout.html' %}

{% load compress %}

{% load i18n %}

{% load static %}

{% block breadcrumbs %}
    {% include 'photo/admin/breadcrumbs.html' with pk=object.pk %}
{% endblock %}

{% block js %}
    {% if not perms.photo.change_photo %}
        {% compress js %}
            <script src="{% static 'form/js/disableForm.js' %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block title %} : {% trans 'Photography Admin' %} : {% trans 'Profile' %}{% endblock %}

{% block content %}

    <form action="{% url 'photo:admin-profile' object.pk %}" method="post" enctype="multipart/form-data" novalidate>

        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card border-dark">
                    <div class="card-body">
                        <div class="p-2">
                            {% include 'form/input.html' with input=form.name is_required=True %}
                            {% include 'form/select.html' with select=form.album is_required=True %}
                            {% include 'form/input.html' with input=form.image is_required=False %}
                            {% include 'form/textarea.html' with textarea=form.description is_required=True %}
                            {% include 'form/switch.html' with switch=form.is_featured %}

                            {% if perms.photo.change_photo %}
                                <button type="submit" class="btn btn-outline-secondary">
                                    {% trans 'Update' %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card border-dark">
                    <div class="card-body">
                        <img src="{{ object.image.url }}" alt="{{ object.image.name }}">
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
