{% extends 'member/layout.html' %}

{% load compress %}

{% load form_dialog %}

{% load i18n %}

{% load static %}

{% block breadcrumbs %}
    {% include 'photo/admin/breadcrumbs.html' %}
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static 'form/js/modal.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block title %} : {% trans 'Photography Admin' %} : {% trans 'Search Categories' %}{% endblock %}

{% block content %}

    <button type="button" class="btn btn-secondary mb-3 bg-white text-dark" data-toggle="modal"
            data-target="#searchModal"><i class="fas fa-search"></i> {% trans 'Search' %}
    </button>

    {% if perms.photo.add_album %}
        <a href="{% url 'photo:admin-add-album' %}" class="btn btn-outline-secondary mb-3 bg-white text-dark" role="button"
           aria-pressed="true"><i class="fas fa-plus-circle"></i> {% trans 'Create Album' %}</a>
    {% endif %}

    <table class="table table-striped table-bordered table-light table-hover" id="search">
        <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">{% trans 'Name' %}</th>

            {% if perms.photo.delete_album %}
                <th scope="col" class="text-center">{% trans 'Delete' %}</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for item in object_list %}
            <tr>
                <th scope="row">{{ item.pk|escape }}</th>

                <td class="w-100">{{ item|escape }}</td>

                {% if perms.photo.delete_album %}
                    <td class="text-center">
                        <button class="btn btn-danger btn-xs btn-delete"
                                data-title="{% trans 'Delete' %}"
                                data-url="{% url 'photo:admin-delete-album' item.pk %}"
                                id="{{ item.pk }}">

                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Start Pagination -->
    {% include 'form/search/pagination.html' %}
    <!-- End Pagination -->

    <!-- Start Search Modal -->
    <form action="{% url 'photo:admin-search-album' %}" novalidate id="search_modal">
        {% include 'form/search/modal.html' %}
    </form>
    <!-- End Search Modal -->

    {% if perms.photo.delete_album %}
        <form action="#" method="post" id="modal_url_delete">
            {% csrf_token %}

            {% form_dialog _('Continuing will remove this photoing album.') 'delete' %}
        </form>
    {% endif %}

{% endblock content %}
