{% load compress %}

{% load i18n %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Start Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Sammie S. Taunton">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keyword %}{% endblock %}">
    <!-- End Meta -->

    <!-- Start Title -->
    <title>Diemuzi{% block title %}{% endblock %}</title>
    <!-- End Title -->

    <!-- Start Favicon -->
    <link rel="icon"
          type="image/ico"
          href="{% static 'asset/images/favicon.ico' %}">
    <!-- End Favicon -->

    <!-- Start Default CSS -->
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'webpack/vendor-css.css' %}"
              type="text/css">
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'asset/css/diemuzi.css' %}"
              type="text/css">
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'asset/css/bootstrap.css' %}"
              type="text/css">
    {% endcompress %}
    <!-- End Default CSS -->

    <!-- Start Secondary CSS -->
    {% block css %}{% endblock %}
    <!-- End Secondary CSS -->

    <!-- Start Google Verification -->
    <meta name="google-site-verification" content="LGQVEp_7sIUe7uugj4syzMOziyaXE-U7HJejv0Fw1oc"/>
    <!-- End Google Verification -->

    <!-- Start Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133453060-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-133453060-1');
    </script>
    <!-- End Google Analytics -->

    <!-- Start Google Ads -->
    <script data-ad-client="ca-pub-0620381385063888" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End Google Ads -->
</head>

<body>

{% include 'asset/navbar.html' %}

<!-- Start Wrapper -->
<div class="container-fluid h-100" id="wrapper">
    {% include 'asset/flash.html' %}

    <div class="row h-100">
        <main class="col-md mt-3">
            <!-- Start Content -->{% block content %}{% endblock %}<!-- End Content -->

            {% include 'asset/footer.html' %}
        </main>
    </div>
</div>
<!-- End Wrapper -->

<!-- Start To Top -->
<a id="back-to-top" href="#" class="btn btn-dark btn-lg back-to-top" role="button"
   title="{% trans 'Click to return to top page.' %}" data-toggle="tooltip" data-placement="left">
    <i class="fas fa-angle-up"></i>
</a>
<!-- End To Top -->

<!-- Start Default JS -->
{% compress js %}
    <script src="{% static 'webpack/vendor.js' %}"></script>
{% endcompress %}

{% compress js %}
    <script src="{% static 'asset/js/diemuzi.js' %}"></script>
{% endcompress %}

{% compress js %}
    <script src="{% static 'form/js/blockui.js' %}"></script>
{% endcompress %}

{% compress js %}
    <script src="{% static 'comment/js/form.js' %}"></script>
{% endcompress %}

<script>
    $(document).ready(function () {
        $(this).scrollTop(0);
    });
</script>
<!-- End Default JS -->

<!-- Start Secondary JS -->
{% block js %}{% endblock %}
<!-- End Secondary JS -->

</body>
</html>