{% extends 'member/layout.html' %}

{% load compress %}

{% load i18n %}

{% load static %}

{% block breadcrumbs %}
    {% include 'blog/admin/breadcrumbs.html' %}
{% endblock %}

{% block js %}
    {% if not perms.blog.add_category %}
        {% compress js %}
            <script src="{% static 'form/js/disableForm.js' %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block title %} : {% trans 'Blog Admin' %} : {% trans 'Create Category' %}{% endblock %}

{% block content %}

    <form action="{% url 'blog:admin-add-category' %}" method="post" novalidate>

        {% csrf_token %}

        <div class="card border-dark">
            <div class="card-body">
                <div class="p-2">
                    {% include 'form/input.html' with input=form.name is_required=True %}

                    {% if perms.blog.add_category %}
                        <button type="submit" class="btn btn-outline-secondary">
                            {% trans 'Create' %}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

    </form>

{% endblock %}
